{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Capitan America</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo possimus iste, illum totam in consequatur ratione et repellendus soluta quibusdam quisquam nesciunt fugiat tempore expedita, neque nisi ducimus est dignissimos.</p>
    </div>

    <div class="col-4">
        <img src="assets/bootstrap/img/capitan-america.png" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer}}